{{#each results}}
<div class="card">
<div class="card-header">
Tags go here
</div>
<div class="card-body">
<h5 class="card-title">{{title}}</h5>
<p class="card-text">{{desc}}</p>
<a class ="btn btn-secondary" href="{{link}}" target="_blank" role="button">Go to Article</a>
<button type="button" class="btn btn-secondary">Comment</button>
</div>
</div>
{{/each}}