<div class="row">
<div class="col-sm-8 offset-sm-2">
<div class="card">
<div class="card-header">
Author: {{author}}
</div>
<div class="card-body">
<h5 class="card-title"><strong><u>{{title}}</u></strong></h5>
<p class="card-text">{{desc}}</p>
<a class ="btn btn-secondary" href="/" role="button">Back to Articles</a>

</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-8 offset-sm-2">
<form>
  <div class="form-group">
    <label for="comment-author">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Name or Username">
  </div>
  <div class="form-group">
    <label for="comment-text">Comment</label>
    <textarea class="form-control" id="comment-text" rows="4"></textarea>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>
</div>
{{#each note}}
<div class="row">
    <div class="col-sm-8 offset-sm-2">

    </div>
{{/each}}
</div>